<!DOCTYPE html>
<html>
  <head>
    <title>Employee Portal | {{capit title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/copy.js" defer></script>
  </head>
  <body>
    <h1>Employee Portal | {{capit title}}</h1>
    {{{body}}}
  </body>
</html>
