<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/colors" method="POST">
  <select name="n">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select>
  <input type="submit" value="Change Grid" />
</form>

{{color n}}
