<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .color {
      width: 75px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
    }

    .black-text {
      color: black;
    }

    .white-text {
      color: white;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>
