<main>
  <header>
  </header>
  <h1>{{title}}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis aliquet quam quis tincidunt. Mauris
    ac mattis eros. Proin iaculis tortor a neque consequat blandit. Curabitur at mattis felis, ac fringilla dolor.
    Pellentesque a libero eu ipsum convallis luctus. Phasellus sit amet metus sapien. Curabitur placerat nisl vitae nunc
    fringilla, eu rutrum lacus lobortis. Morbi eget augue vel risus pellentesque rutrum.
  </p>
  <p>
    Phasellus porta neque lobortis ligula consequat varius. Donec efficitur facilisis fermentum. Praesent erat nisl,
    pretium nec diam eget, dignissim vehicula lectus. Nam ut aliquam elit. Donec suscipit nisl ex, ut dignissim quam
    pharetra iaculis. Donec auctor scelerisque mauris in lobortis. Aliquam mattis rutrum enim, sed tempus ante elementum
    ac. Fusce posuere turpis sit amet felis blandit pretium.
  </p>
</main>

<style>
  header {
    width: 100%;
    height: 25vh;
    background: url({{random.src}});
    background-size: cover;
  }

  header>h1 {
    position: relative;
    top: 22vh;
    left: 1vw;
  }
</style>
