<h1>{{title}}</h1>
<h2>Your form results</h2>

<ul>
  <li>
    <b>Your name</b>: {{form.name}}
  </li>
  <li>
    <b>Your email</b>: {{form.email}}
  </li>
  <li>
    <b>Your comments</b>: {{form.comments}}
  </li>
</ul>
